body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, white, black);
    color: #333;
}

.header {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.logo {
    width: 100px;
    height: auto;
}

.language-switch {
    margin-top: 10px;
}

.language-switch button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 0 5px;
}

.language-switch button:hover {
    background-color: #666;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
}

.btn {
    background-color: #444;
    color: white;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 5px;
}

.btn:hover {
    background-color: #666;
}

.large-btn {
    width: 60%;
}
