body {
    background-color: #f2f2f2; /* Gris cemento */
}

.container {
    text-align: center;
    margin-top: 50px;
}

.btn {
    padding: 10px 20px;
    margin: 10px;
    background-color: #fff; /* Blanco */
    color: #000; /* Negro */
    border: 2px solid #000; /* Negro */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
    background-color: #000; /* Negro */
    color: #fff; /* Blanco */
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro */
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
}

.popup-content {
    color: #fff; /* Blanco */
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff; /* Blanco */
    font-size: 20px;
    cursor: pointer;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #000; /* Negro */
}

form button[type="submit"] {
    padding: 10px 20px;
    background-color: #000; /* Negro */
    color: #fff; /* Blanco */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

form button[type="submit"]:hover {
    background-color: #fff; /* Blanco */
    color: #000; /* Negro */
}
